body {
  font-family: 'Poppins', sans-serif;
}

.footer {
  width: 100%;
  height: 270px;
  background-color: black;
  /* margin-top: 50px; */
}

.img-footer {
  width: 222px;
}

.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  color: #ffff;
  margin: 40px 0 16px 0;
}

.subtitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffff;
  text-align: justify;
}